/**
	Especificaciones CSS para el juego del solitario. 
*/

/**
	Completar los estilos que faltan y modificar al gusto del alumno.
*/

/*Medidas de la imagen del logo de la VIU.*/
img.viu{
  width: 180px;
  height: 100px;
}

/*Medidas de la imagen de reiniciar.*/
img.reiniciar{
	height: 20px;
	width: 30px;
}

/*Especificaciones y color para los botones de la actividad.*/
.botones{
	background-color: #CB1D11; 
	border-color: #CB1D11; 
	color:white; 
	width:140px; 
	height:40px; 
	FONT-SIZE: 12pt; 
	FONT-FAMILY: Verdana;
}

/*Especificaciones e imagen de fondo para la cabecera. Como título está a la izquierda y el logo de la VIU a la derecha, hemos creado las clases
right y left para poder alinearlo de dicha forma.*/
div#cabecera {
    position: absolute;
    top: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	background: url('imagenes/cabecera.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/*Especificaciones de las instrucciones.*/
div#instrucciones {
    top: 0;
	width: 100%;
}

/* Especificaciones del título de las instrucciones.*/
h2#instruccionestitulo{ 
	margin: 30px;
	text-align: center; 
	color: white;
	font-weight: bolder;
	FONT-SIZE: 30pt; 
}

/* Especificaciones del parrafo de las instrucciones.*/
h4#instruccionestexto{ 
	margin-left:150px;
	margin-right:150px;
	margin-top:40px;
	margin-bottom: 50px;
	text-align: left; 
	color: white;
	FONT-SIZE: 14pt; 
}

/*Especificaciones y color de fondo para los creditos.*/
div#creditos{
	background:#412106;
	top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Especificaciones del texto de los creditos.*/
h3#creditostitulo{ 
	margin: 30px;
	text-align: center; 
	color: white;
}

/*Especificaciones e imagen de fondo para el container. Como el tiempo y los movimientos estan en el centro y el botón reiniciar a la derecha, hemos creado las clases
right y center para poder alinearlo de dicha forma.*/
.container{
	text-align:center;
	width: 100%;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	background: url('imagenes/cabecera.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Especificación para que el botón reiniciar y el logo de la VIU esten a la derecha.*/
.right{
	margin-right: 10px;
    float: right;
}

/* Especificación para que el título este a la izquierda.*/
.left{
	margin-left: 10px;
    float: left;
}

/* Especificación para que el tiempo y los movimientos esten en el centro.*/
.center{
   display:inline-block;
   text-align:center;
}



/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	color: white;
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	right: 3px;
}


/* Centrado del título y color */
h1#titulo {
	text-align: center;
	font-size: 60px;
	color: #FFFFFF;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: left;
	padding: 170px 0 49px 60px;

	background: url('imagenes/mesa.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 600px;
	height: 520px;			

	background: url('imagenes/tapete.png');
	background-repeat: no-repeat;
	background-size: cover;

}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
	border-radius: 10px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background: url('imagenes/carta.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	border: white 5px solid;

	background: url('imagenes/reversa.png');
	background-repeat: no-repeat;
	background-size: cover;
}